nav {
  background-color: #333;
  color: white;
  padding: 10px;
  text-align: center;
}
/*Clear implementation of the CSS Box Model*/
#home,
#about,
#contact {
  width: 200px; /* content width */
  padding: 20px; /* space inside border */
  border: 5px solid black; /* border width */
  margin: 10px;
}

/*Clear use of Flexbox and Grid*/
.ema {
  width: 96%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr; /* Single column on small screens */
  }
}

.container {
  width: 90%; 
  padding: 20px;
  background-color: aquamarine;
}
#hideshow{
  display: block; /* Initially hidden */
  background-color: lightblue;
  padding: 10px;
  margin-top: 10px;
}